.vscode/**
.vscode-test/**
.github/**
src/**
out/test/**
node_modules/**
.gitignore
.npmrc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
renovate.json5
CONTRIBUTING.md
